<div class="marketing-footer">
<table align=center>
  <tr align="center">
      <td>
          <a href="http://%%track%%/fclothing">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_clothing.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
      <td>
          <a href="http://%%track%%/flocator">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_storelocator.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
  </tr>
  <tr align="center">
      <td>
          <a href="http://%%track%%/fhousehome">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_househome_top.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
      <td>
          <a href="http://%%track%%/fregistry">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_registry.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
  </tr>
  <tr align="center">
      <td>
          <a href="http://%%track%%/fhousehome">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_househome_bottom.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
      <td>
          <a href="http://%%track%%/fablog">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_ablog_top.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
  </tr>
  <tr align="center">
      <td>
          <a href="http://%%track%%/faccessory">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_accessories_top.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
      <td>
          <a href="http://%%track%%/fablog">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_ablog_bottom.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
  </tr>
  <tr align="center">
      <td>
          <a href="http://%%track%%/faccessory">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_accessories_bottom.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
      <td>
          <a href="http://%%track%%/fbhldn">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_bhldn.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
  </tr>
  <tr align="center">
      <td>
          <a href="http://%%track%%/fsale">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_sale.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
      <td>
          <a href="http://%%track%%/fterrain">
              <img src="http://f.email2.anthropologie.com/i/23/1134998097/calabasas_490_footer_terrain.jpg" style="display:block" border="0" alt="">
          </a>
      </td>
  </tr>
</table>

<table align="center">
  <tr>
      {{#forEach marketing.socialList}}
      <td>
          <a href="{{this.url}}"><img src="{{this.icon}}"></a>
      </td>
      {{/forEach}}
  </tr>
</table>

<table width="470" cellpadding="0" cellspacing="0" border="0" align="center" style="padding-left: 20px;">
  <tr align="left">
      <td style="color:#b7afaf; font-family:Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; text-decoration: none;">
          Pencil us in, please.
          <br />
          Add <a style="color: #589dad; text-decoration: none;" href="mailto:Anthropologie@email2.anthropologie.com">Anthropologie@email2.anthropologie.com</a> to your address book.
          <br />
          Anthropologie, <a style="color: #b7afaf; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; letter-spacing: 0.5px; text-decoration: none;" href="#">5000 South Broad St., Building 18, Philadelphia, PA 19112</a>
          <br /><br />
          footerLinks
          <a style="color: #589dad; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; text-decoration: none;" href="http://%%track%%/signup">Subscribe</a> | <a style="color: #589dad; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; text-decoration: none;" href="http://%%track%%/hpg">Anthropologie.com</a> | <a style="color: #589dad; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; text-decoration: none;" href="http://%%track%%/unsub?email=%%email%%&t=%%t%%" target="_blank">Unsubscribe </a>
          <br /><br />
          {{ marketing.shippingDisclaimer }}
      </td>
  </tr>
</table>
<br /><br />