<!-- PREHEADER TEXT + PREVIEW TEXT CONTAINER START -->
<table class="header">
  <tr>
    <td>
      <a class="header-link" href="marketing.headerLink.href">{{marketing.headerLink.text}}</a> 
      <span class="preview">
        {{ marketing.previewText }}
      </span>
      <a class="view-in-browser" href="http://%%track%%/html?t=%%t%%&email=%%email%%" target="_blank">
        <font>View in a browser.</font>
      </a>
      <br>
      <span class="rafMessage">%%FORM_MESSAGE%%</span>
    </td>
  </tr>
</table>