<!DOCTYPE html>
<html>
<head>
  <title>{{ marketing.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body class="marketing">

{{>header }}

{{ body }}

{{>footer_calabasas }}

</body>
</html>